<form
    class="login-page__login-form login-form"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()">

    <legend class="login-form__legend">
        Login
    </legend>

    <label class="login-form__label">
        login
        <input
            type="text"
            class="login-form__input"
            formControlName="login">
    </label>

    <label class="login-form__label">
        password
        <input
            type="password"
            class="login-form__input"
            formControlName="password">
    </label>

    <button
        mat-raised-button
        color="primary"
        class="login-form__submit"
        [disabled]="loginForm.invalid">
        Login
    </button>

</form>