<div
    class="detailed-information"
    appBorderBottomColor [datesLag]="detailedInformationService.datesLag">
    <mat-icon
        class="detailed-information__return"
        (click)="returnToSearchResults()">
        keyboard_arrow_left
    </mat-icon>
    <img
        class="detailed-information__image"
        src="{{ detailedInformationService.selectedItem.snippet.thumbnails.maxres
                ? detailedInformationService.selectedItem.snippet.thumbnails.maxres.url
                : detailedInformationService.selectedItem.snippet.thumbnails.high.url }}"
        alt="{{ detailedInformationService.selectedItem.snippet.title }}">

    <div class="detailed-information__content">
        <div class="detailed-information__text">
            <div class="detailed-information__heading">
                <h1 class="detailed-information__heading-title">
                    {{ detailedInformationService.selectedItem.snippet.title }}
                </h1>
                <h5 class="detailed-information__heading-published">
                    {{ detailedInformationService.selectedItem.snippet.publishedAt | date: "fullDate" }}
                </h5>
            </div>
            <div class="detailed-information__description">
                <h3 class="detailed-information__description-header">
                    Description:
                </h3>
                <p class="detailed-information__description-content">
                    {{ detailedInformationService.selectedItem.snippet.description }}
                </p>
            </div>
        </div>

        <a
            class="detailed-information__link"
            mat-raised-button
            color="primary"
            href="https://www.youtube.com/watch?v={{ detailedInformationService.selectedItem.id }}"
            target="_blank">
            Go to video
        </a>
        
        <div class="detailed-information__statistics">
            <div class="detailed-information__statistics-item">
                <mat-icon>visibility</mat-icon>
                <span>{{ detailedInformationService.selectedItem.statistics.viewCount }}</span>
            </div>
            <div class="detailed-information__statistics-item">
                <mat-icon>thumb_up</mat-icon>
                <span>{{ detailedInformationService.selectedItem.statistics.likeCount }}</span>
            </div>
            <div class="detailed-information__statistics-item">
                <mat-icon>thumb_down</mat-icon>
                <span>{{ detailedInformationService.selectedItem.statistics.dislikeCount }}</span>
            </div>
            <div class="detailed-information__statistics-item">
                <mat-icon>mode_comment</mat-icon>
                <span>{{ detailedInformationService.selectedItem.statistics.commentCount }}</span>
            </div>
        </div>
    </div>    
</div>