:host {
	width: 100%;
}

.search-input {
	position: relative;

	&__search-block {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__field {
		flex: 1 0 120px;
		max-width: 400px;
		margin-left: 10px;
		border: none;
		line-height: 26px;
	}

	&__settings-btn {
		margin-left: 10px;
		padding: 0 5px;
		min-width: 0;
	}

	&__sorting-options {
		position: absolute;
		bottom: -50px;
		display: flex;
		align-items: center;
	}

	&__search-input {
		width: 100px;
		border: none;
		height: 20px;
	}
}

.fa-youtube-play {
	color: #3f51b5;
	font-size: 3rem;
}

.mat-raised-button {
	line-height: 26px;
	font-weight: normal;
}